{% extends 'base.html' %}

{% block meta %}
<style>

  body {
    background-color: rgb(134, 191, 211);
    font-family: Verdana;
    margin: 20px;
    text-align: center;
    align-items: center;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(17, 40, 60, 0.819);
    width: 40%;
    margin: 20px;
    padding: 20px;
    border-radius: 5%;
    background-color: rgb(132, 160, 202);
  }
  
  .card:hover {
    box-shadow: 0 10px 16px 0 rgb(65, 81, 104);
  }
  
  * {
  box-sizing: border-box;
  }

  .col {
    float: left;
    width: 25%;
    padding: 0 10px;
  } 

  .row {margin: 0 -5px;}

  .row:after {
    content: "";
    display: table;
    clear: both;
  } 

  @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

</style>
{% endblock meta %}

 {% block content %}
  
  <h1 style="text-align: center;">{{username}}'s To Do List</h1>

  <div class="row">
    {% for task in list_task %}
      <div class="col">
        <div class="card text-center" style="width: 20rem;">
          <div class="car-body">
            <h2 class="card-header">{{task.title}}</h2>
            <p class="card-text">Created on : {{task.date}}</p>
            <p class="card-text">Description : {{task.description}}</p>
            {% if task.is_finished == True %}
              <p class="card-text">Status : Selesai</p>
            {% elif task.is_finished == False %}
              <p class="card-text">Status : Belum Selesai</p>
            {% endif %}
            <button><a class="btn btn-primary" href="{% url 'todolist:update_status' task.id %}" >Update Status</a></button>
            <button><a class="btn btn-primary" href="{% url 'todolist:delete_task' task.id %}">Delete Status</a></button>
            <br>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
  


  <button class="btn btn-primary"><a href="{% url 'todolist:create_task' %}">Create Task</a></button>
  <button class="btn btn-primary"><a href="{% url 'todolist:logout' %}">Logout</a></button>

  {% if messages %}
  <ul>
      {% for message in messages %}
          <p>{{ message }}</p>
      {% endfor %}
  </ul>
  {% endif %}  

  

 {% endblock content %}